version: '3.8'

x-postgres-tinode-env-vars: &postgres-tinode-env-vars
  "STORE_USE_ADAPTER": "postgres"
  "POSTGRES_DSN": "postgresql://postgres:postgres@postgres:5432/tinode?sslmode=disable&connect_timeout=10"

services:
  db:
    image: postgres:15.2
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]

  tinode-0:
    image: tinode-postgres-arm64
    environment:
      << : *postgres-tinode-env-vars
      "WAIT_FOR": "postgres:5432"
